body {
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    color: #777777;
}

input {
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

nav {
    list-style: none;
    display: inline-block;
}

nav li {
    margin-top: 1%;
    float: left;
}

.app{
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.app div {
    margin: inherit;
}

.home{
    color: black !important;
}

/* error messages */
.validation-error {
    position: absolute;
    margin-top: 2px;
    margin-left: -92px;
    color: red;
    border-bottom: 1px solid red;
}
/* end error messages */

/* start base from */
.baseForm {
    margin-top: 20px;
}

.baseForm input {
    margin-right: 20px;
    padding-left: 5px;
    border: 1px solid #777777;
}

.baseForm input:disabled {
    background-color: #eeeeee;
    color: #cccccc;
    border-color: #cccccc;
}

.baseForm input:focus{
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
/* end base from */

.active img {
    color: red;
    -webkit-filter: grayscale(1%) !important;
}

.dropdown {
    overflow: hidden;
}

.dropdown li {
    padding-top: 10px;
    float: none;
    list-style: none;
}

.img-30 {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

/* start main nav bar */
#main {
    margin-left: 70px;
}

#main img {
    padding: 0 20px;
    border-radius: 450px;
    -webkit-filter: grayscale(100%);
}
/* end main nav bar */


/* start side nav bar */
#side {
    position: static;
    float: right;
    padding-right: 40px;
}

/* active user control */
#led {
    margin-top: -8px;
    width: 8px;
    height: 8px;
    background-color: #008800;
    border-radius: 20px;
}
/* end side nav bar */

#table{
    margin: inherit;
}

#table tr th{
    padding-right: 200px;
    border-bottom: 1px solid #444444;
    width: 100px;
    min-width: 100px;
}

#table tr td{
    text-align: left;
    border-bottom: 1px solid #eeeeee;
    width: 100px;
    min-width: 100px;
}

/* animation */
.dropDown-enter {
    height: 0px;
}

.dropDown-enter.dropDown-enter-active {
    height: 100px;
    transition: height 200ms ease;
}

.dropDown-leave {
    height: 100px;
}

.dropDown-leave.dropDown-leave-active {
    height: 0px;
    transition: height 200ms ease;
}



.slide-enter {
    right: -100%;
}

.slide-enter.slide-enter-active {
    right: -580px;
    transition: right 2000ms ease;

}

.slide-leave {
    right: -580px;
}

.slide-leave.slide-leave-active {
    right: -100%;
    transition: right 2000ms ease;
}
/* end animation */

@media only screen and (max-width: 740px) {
    #side {
        float: none;
    }
    nav {
        list-style: none;
        display: inline-block;
    }
    #main {
        margin-left: 0px;
    }
}

/*@media only screen and (max-width: 887px) {*/
    /*#side {*/
        /*float: none;*/
        /*margin-left: 2%;*/
    /*}*/

    /*#main {*/
        /*margin-left: 0%;*/
    /*}*/
/*}*/